---
---
.post-content > p{color:#7daeb1}
body{
	font-size:1em;

}
p,h2,h3,h4{
	line-height:1.5em;
	padding:0.3em;
}
h4{
	font-size: 18px;
    padding: 6px;
}
body{backgroud:efefef}

.layui-nav{
	text-align:center;
	position: absolute;   
	background-color: #8c8f9800;
	color: #fff;
	left: 50%;
    top: 35%;
    transform: translateX(-50%);
    transform: translateY(50%px);
}
.post-list > li{
	border: 1px solid #b9acac;
    padding: 15px;
    box-shadow: 4px 4px 15px #ccbfbf;
}
.baniframe{
    width: 100%;
    height: 100%;
    border-width: 0px;
}

@media (max-width:980px){
	.layui-nav{   
		background-color: #8c8f9800;
		color: #fff;
		left: 0%;
	    top: 30%;
	    transform: translateX(0%);
	    transform: translateY(0%);
	}
	.layui-nav .layui-nav-item a {
	    padding: 0 10px;
	}
}
