---
---
.post-content > p{color:#7daeb1}
h4{
	font-size: 18px;
    padding: 6px;
}
body{backgroud:efefef}

.layui-nav{
	text-align:center;
	position: absolute;
	top: 50px;    
	background-color: #8c8f9800;
	color: #fff;
	left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(50%px);

}
.post-list > li{
	border: 1px solid #b9acac;
    padding: 15px;
    box-shadow: 4px 4px 15px #ccbfbf;
}
.baniframe{
    width: 100%;
    height: 100%;
    border-width: 0px;
}
