<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <script data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.8/viewer.js" data-option="{|environment|:{|gradient|:|radial|,|sensitivity|:0.1,|colorStart|:[18,162,217,1],|colorEnd|:[117,188,185,1]},|particle|:{|life|:5,|power|:0.2,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/window_04.png|,|number|:469,|colorStart|:[171,38,227,0.33],|colorEnd|:[175,140,45,0.2],|sizeStart|:0.5,|sizeEnd|:1,|direction1|:{|x|:0,|y|:0,|z|:0},|direction2|:{|x|:0,|y|:0,|z|:0}}}" ></script>
   {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      
       <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
