<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
   {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <video style="position: fixed;right: 0px; bottom: 0px; min-width: 100%; min-height: 100%;height: auto;width: auto;">
		<source style="min-width: 100%; min-height: 100%; height: auto; width: auto;" src="/images/videos/background.mp4" type="video/mp4">
	  </video>
       <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
