---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list"  >
      {%- for post in site.posts -%}
      <li class="layui-row">
        {%- if post.image -%}
        <div class="layui-col-md3" style="padding: 6px"> <img src="{{ site.baseurl }}{{ post.image }}" ></div>
        {%- endif -%}
        <div class="{%- if post.image -%} layui-col-md9 {%- else -%}  layui-col-md12 {%- endif -%}">
         
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h4>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h4>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </div>
      </li>
   
      {%- endfor -%}
    </ul>

  {%- endif -%}


</div>


